@model PaginatedList<Candidate>
@{
    ViewData["Title"] = "Index";
    int cp = Model.PageIndex;
    int tp = Model.TotalPages;
    var next = Model.HasNextPage ? "" : "disabled";
    var prev = Model.HasPreviousPage ? "" : "disabled";
    int i = (cp - 1) * ViewBag.pSize + 1;
}

<h1 class="display-5 alert alert-info">Candidate List</h1>
<div>
    @if (ViewBag.count != null)
    {
        <h6>Total @ViewBag.count data found!!</h6>
    }
</div>
<form asp-controller="Candidates" asp-action="Index" method="post">
    <div class="input-group mb-3">
        <input type="text" class="form-control form-control-sm" name="usertext" placeholder="Search here....">
        <button class="btn btn-outline-info" type="submit">Search</button>
    </div>
</form>
<div class="d-flex justify-content-end mt-2">
    <a asp-action="Create" asp-controller="Candidates" class="btn btn-outline-primary ">Add New Candidates</a>
</div>
@foreach (var item in Model)
{
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between">
            <div>
                <img src="@item.Image" width="35" class="rounded-circle" />
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.sortParam" asp-route-usertext="@ViewBag.sWord">Candidate Name:</a>
                <b> </b>@Html.DisplayFor(x => item.CandidateName)
                <b> Date of Birth : </b>@Html.DisplayFor(x => item.dateofBirth)
                <b> Phone : </b>@Html.DisplayFor(x => item.Phone)
                <b> Fresher? : </b>@Html.DisplayFor(x => item.Fresher)
            </div>
            <div>
                <a asp-action="Edit" asp-controller="Candidates" class="btn btn-success btn-sm" asp-route-id="@item.CandidateId">Edit</a>
                <a asp-action="Delete" asp-controller="Candidates" class="btn btn-danger btn-sm" asp-route-id="@item.CandidateId">Delete</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped table-responsive-sm">
                <thead class="table-primary">
                    <tr>
                        <th>Test List</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var it in item.CandidateSkills)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(x=>it.Skill.SkillName)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>          
        </div>
    </div>
}
<ul class="pagination">
    <li class="">
        <a asp-action="Index"
           asp-route-sortOrder="@ViewBag.sortParam"
           asp-route-usertext="@ViewBag.sWord" asp-route-page="1" class="btn btn-info btn-sm">First</a>
    </li>
    <li class="page-item @prev">
        <a asp-action="Index"
           asp-route-sortOrder="@ViewBag.sortParam"
           asp-route-usertext="@ViewBag.sWord" asp-route-page="@(cp-1)" class="btn btn-primary btn-sm @prev">Prev</a>
    </li>
    @for (int k = 1; k < Model.TotalPages; k++)
    {
        if (k >= cp - 2 && k <= cp + 2)
        {
            if (k == cp)
            {
                <li class="page-item @(k==cp?"active":"")">
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewBag.sortParam"
                       asp-route-usertext="@ViewBag.sWord" asp-route-page="@k" class="btn btn-warning btn-sm">@k</a>
                </li>
            }
            else
            {
                <li class="page-item @(k==cp?"active":"")">
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewBag.sortParam"
                       asp-route-usertext="@ViewBag.sWord" asp-route-page="@k" class="btn btn-success btn-sm">@k</a>
                </li>
            }

        }
    }
    <li class="page-item @next">
        <a asp-action="Index"
           asp-route-sortOrder="@ViewBag.sortParam"
           asp-route-usertext="@ViewBag.sWord" asp-route-page="@(cp+1)" class="btn btn-primary btn-sm @next">Next</a>
    </li>
    <li class="">
        <a asp-action="Index"
           asp-route-sortOrder="@ViewBag.sortParam"
           asp-route-usertext="@ViewBag.sWord" asp-route-page="@Model.TotalPages" class="btn btn-info btn-sm">Last</a>
    </li>

</ul>
